.telegramGroupUrl {
  position: relative;
}
.telegramGroupUrlParent {
  position: absolute;
  top: 7.56rem;
  left: 6.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: right;
}
.or {
  position: absolute;
  top: 10.81rem;
  left: 10.75rem;
}
.twitterHandletweetUrlParent {
  position: absolute;
  top: 13.13rem;
  left: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vectorIcon {
  position: relative;
  width: 0.84rem;
  height: 0.67rem;
  display: none;
}
.vectorParent {
  position: absolute;
  top: 17.19rem;
  left: 29.44rem;
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-satoshi);
}
.component31 {
  position: absolute;
  top: 17.5rem;
  left: 24.94rem;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: var(--white-card);
  width: 40.75rem;
  height: 22rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
